@inherits InputBase<string>
<div class="form-group">
    <label for="@Id">@Label</label>
    <input disabled="@EditMode" type="text" id="@Id" @bind="@CurrentValue" class="form-control @CssClass" placeholder="This is title" />
</div>
@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public bool EditMode { get; set; }

    protected override bool TryParseValueFromString(string? value, out string result, 
        out string validationErrorMessage)
    {
        result = value;
        validationErrorMessage = null;
        return true;
    }
}
